{% extends 'layout/base.html' %}

{% block body %}
    <script>
        webix.ready(function () {
            const DATATABLE = {
                id: "mahasiswa", view: "datatable",
                columns: [
                    {id: "nim", header: "NIM", adjust: "header"},
                    {id: "nama", header: "Nama", adjust: "header"},
                    {id: "tanggal_lahir", header: "Tanggal Lahir", adjust: "header", fillspace: true},
                ]
            }
            window.webixUI(DATATABLE)
        })
    </script>
{% endblock %}